#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299)  
  }

}
